@import "tailwindcss";

:root {
  --background: #0F1216;
  --foreground: #ffffff;
  --card: #1d1f20;
  --accent: #759BBF;
  --muted-foreground: #828282;
  --border: #383838;
}

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-card: var(--card);
  --color-muted-foreground: var(--muted-foreground);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
